@font-face {
    font-family: "SourceSansPro";
    src: url(../fonts/SourceSansPro-Regular.otf) format("truetype");
}

.glass {
    display: block;
    width: 30%;
    height: 40%;
    background-size: cover;
    content: ' ';
    margin-top: 11%;
    margin-left: auto ;
    margin-right: auto ;
    padding: 4%;
    padding-top: 2%;
    padding-bottom: 8%;
    border: 1px solid rgba(255,255,255,0.3);
    color: #ffffff;
    background-color: rgba(15,34,34,0.55);
    -webkit-filter: blur(-2px);
}

.background {
    background-image:url(../img/background.jpg);
    background-attachment:fixed;
    background-size: cover;
}

.transparent-input-field{
    background-color:rgba(0,0,0,0.3) !important;
    border:none !important;
    height: 40px !important;
    color: #ffffff !important;
}

.left-inner-addon {
    position: relative;
}

.left-inner-addon input {
    padding-left: 33px;    
}

.left-inner-addon i {
    position: absolute;
    padding-left: 10px 12px;
    pointer-events: none;
    padding-top: 4%;
    padding-left: 4%;
    margin-left: 4%;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    margin-top: -2% !important;
    pointer-events: none;
}

.float-right {
    float: right;
}

.close-button {
    max-height: 40px;
    max-width: 40px;
    vertical-align: text-top;
    cursor: pointer;
}

.dark-button {
    background: url(../img/dark-button-normal.png);
    width: 107px;
    height: 40px;
}

.dark-button:active {
    background-image: url(../img/dark-button-hover.png);
}

.search-input {
    width: 180% !important;
}

.status-pelayanan:hover {
    cursor: pointer;
    color: rgba(139, 234, 60, 1);
}

.box-registrasi {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}

.tabel-registrasi {
    background-color: rgba(0,0,0,0.55);
    color: #ffffff;
}

.tabel-registrasi th, .tabel-registrasi td {
    height: 50px;
}

.tabel-registrasi th {
    background-color: rgba(14,199,168,0.8) !important;
}

.tabel-registrasi tr:hover {
    background-color: rgba(14,199,168,0.4);
}

#popupForm {
    position: fixed;
    top: -10% !important;
    left: 35%;
    height: 70% !important;
}

.box-bg {
    width:100%;
    height:100%;
    opacity:0.95;
    top:0;
    left:0;
    display:none;
    position:fixed;
    background-color:#313131;
    overflow:auto;
}

.saturate {-webkit-filter: saturate(3);}
.grayscale {-webkit-filter: grayscale(100%);}
.contrast {-webkit-filter: contrast(160%);}
.brightness {-webkit-filter: brightness(1);} 
.blur {-webkit-filter: blur(3px);}
.invert {-webkit-filter: invert(100%);}
.sepia {-webkit-filter: sepia(100%);}
.huerotate {-webkit-filter: hue-rotate(180deg);}
.rss.opacity {-webkit-filter: opacity(50%);}

.table-editable {
  position: relative;
  
.glyphicon {
    font-size: 20px;
  }
}

.table-remove {
  color: #700;
  cursor: pointer;
}

.table-remove:hover {
	color: #f00;
}

.table-up, .table-down {
  color: #007;
  cursor: pointer;
}

.table-up:hover, .table-down:hover {
	color: #00f;
}

.table-add-pemasukan, .table-add-pengeluaran {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;
}

.table-add-pemasukan:hover, .table-add-pengeluaran:hover {
	color: #0b0;
}

.box-registrasi form row span {
    max-width: 100px;
}