@font-face {
    font-family: "SourceSansPro";
    src: url(../fonts/SourceSansPro-Regular.otf) format("truetype");
}

.glass {
    display: block;
    width: 30%;
    height: 40%;
    background-size: cover;
    content: ' ';
    margin-top: 11%;
    margin-left: auto ;
    margin-right: auto ;
    padding: 4%;
    padding-top: 2%;
    padding-bottom: 8%;
    border: 1px solid rgba(255,255,255,0.3);
    color: #ffffff;
    background-color: rgba(15,34,34,0.55);
    -webkit-filter: blur(-2px);
}

.background {
    background-image:url(../img/background.jpg);
    background-attachment:fixed;
    background-size: cover;
}

.transparent-input-field{
    background-color:rgba(0,0,0,0.3) !important;
    border:none !important;
    height: 40px !important;
    color: #ffffff !important;
}

.left-inner-addon {
    position: relative;
}

.left-inner-addon input {
    padding-left: 33px;    
}

.left-inner-addon i {
    position: absolute;
    padding-left: 10px 12px;
    pointer-events: none;
    padding-top: 4%;
    padding-left: 4%;
    margin-left: 4%;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    margin-top: -2% !important;
    pointer-events: none;
}

.float-right {
    float: right;
}

.close-button {
    max-height: 40px;
    max-width: 40px;
    vertical-align: text-top;
    cursor: pointer;
}

.dark-button {
    background: url(../img/dark-button-normal.png);
    width: 107px;
    height: 40px;
}

.dark-button:active {
    background-image: url(../img/dark-button-hover.png);
}

.search-input {
    width: 180% !important;
}

.status-pelayanan:hover {
    cursor: pointer;
    color: rgba(139, 234, 60, 1);
}

.box-registrasi {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}

.tabel-registrasi {
    background-color: rgba(0,0,0,0.55);
    color: #ffffff;
}

.tabel-registrasi th, .tabel-registrasi td {
    height: 50px;
}

.tabel-registrasi th {
    background-color: rgba(14,199,168,0.8) !important;
}

.tabel-registrasi tr:hover {
    background-color: rgba(14,199,168,0.4);
}

#popupForm {
    position: fixed;
    top: -10% !important;
    left: 35%;
    height: 70% !important;
}

.box-bg {
    width:100%;
    height:100%;
    opacity:0.95;
    top:0;
    left:0;
    display:none;
    position:fixed;
    background-color:#313131;
    overflow:auto;
}

.saturate {-webkit-filter: saturate(3);}
.grayscale {-webkit-filter: grayscale(100%);}
.contrast {-webkit-filter: contrast(160%);}
.brightness {-webkit-filter: brightness(1);} 
.blur {-webkit-filter: blur(3px);}
.invert {-webkit-filter: invert(100%);}
.sepia {-webkit-filter: sepia(100%);}
.huerotate {-webkit-filter: hue-rotate(180deg);}
.rss.opacity {-webkit-filter: opacity(50%);}

.table-editable {
  position: relative;
  
.glyphicon {
    font-size: 20px;
  }
}

.table-remove {
  color: #700;
  cursor: pointer;
}

.table-remove:hover {
	color: #f00;
}

.table-up, .table-down {
  color: #007;
  cursor: pointer;
}

.table-up:hover, .table-down:hover {
	color: #00f;
}

.table-add-pemasukan, .table-add-pengeluaran, .table-ok, .table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;
}

.table-add-pemasukan:hover, .table-add-pengeluaran:hover, .table-ok:hover, .table-add:hover {
	color: #0b0;
}

.box-width {
    max-width: 100px !important;
    display: inline;
}

.funkyradio label {
    /*min-width: 400px;*/
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}
.funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty {
    display: none;
}
.funkyradio input[type="radio"]:empty ~ label, .funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.funkyradio input[type="radio"]:empty ~ label:before, .funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content:'';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}
.funkyradio input[type="radio"]:checked ~ label:before, .funkyradio input[type="checkbox"]:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}
.funkyradio input[type="radio"]:checked ~ label, .funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
}
.funkyradio input[type="radio"]:focus ~ label:before, .funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}
.funkyradio-default input[type="radio"]:checked ~ label:before, .funkyradio-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
}
.funkyradio-primary input[type="radio"]:checked ~ label:before, .funkyradio-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
}
.funkyradio-success input[type="radio"]:checked ~ label:before, .funkyradio-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5cb85c;
}
.funkyradio-danger input[type="radio"]:checked ~ label:before, .funkyradio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
}
.funkyradio-warning input[type="radio"]:checked ~ label:before, .funkyradio-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #f0ad4e;
}
.funkyradio-info input[type="radio"]:checked ~ label:before, .funkyradio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5bc0de;
}

.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}

.tabel-radio {
    margin-bottom: 3%;
}

.tabel-radio th{
    min-width: 200px;
}

.narrow-width {
    max-width: 60px !important;
}

.radio-wrapper {
    padding-left: 1.2%;
}

.header {
    padding-left: 5%;
}